.radiobuttonsindex {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
    float: left;
    margin-left: 10px;
}

.custom-form {
    margin: auto; 
    width:500px; 
    border:1px solid black; 
    border-radius:5px; 
    background-color:#fff;
    padding: 15px;
}