<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Prescriber</title>
</head>
    <h4>New Prescriber</h4>
<body>
    <fieldset style="width:0px;">
    <legend>Prescriber Info</legend>
        <label for="fname">First Name</label>
        <input type="text" id="fname" maxlength="30" required autofocus>
        <br><br>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" maxlength="30" required>
        <br><br>

        <label for="gender">Gender</label>
        <select name="gender" id="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <br><br>

        <label for="state" title="Enter as state abbreviation. i.e CA">Location</label>
        <input type="text" id="state" title="Enter as state abbreviation. i.e CA" maxlength="2" style="width:30px;" required>
        <br><br>

        <label for="opioidprescriber">Is Opiod Prescriber</label>
        <input type="checkbox" id="opioidprescriber" name="opioidprescriber" value="True">
        <br><br>

        <label for="credential">Credentials</label>
        <input type="text" id="credential" maxlength="30" required>
        <br><br>

        <label for="specialty">Specialty</label>
        <input type="text" id="specialty" maxlength="255" required>
        <br><br>
    </fieldset>
    <br>
    <button type="submit">Create</button>
</body>
</html>