{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  main {
    background-color: #fff;
  }
</style>



<main>
    <!-- Background image -->
    <div
            class=" text-center bg-image"
            style="
            background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
            height: 400px;
          "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height:100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3" style="font-size: 50px" >Meet Our Consulting Doctors</h1>
            <br>
            <h6 class="mb-3">These doctors helped us understand the opioid epidemic, our data,<br>
              and make assumptions as we built our application.</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <br><br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="180" height="180" src="{% static 'img/ahlstrom.jpeg' %}" alt="..." />

        <h2>Shane Ahlstrom MD</h2>
        <h4>Anesthesiologist</h4>
        <p>Medford, OR</p>
        <p><a class="btn btn-secondary" href="#ahlstrom">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="180" height="180" src="{% static 'img/melissa.jpeg' %}" alt="..." />

        <h2>Melissa Wroblewski NP-C</h2>
        <h4>Nurse Practitioner</h4>
        <p>Provo, UT</p>
        <p><a class="btn btn-secondary" href="#melissa">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="180" height="180" src="{% static 'img/hess.jpg' %}" alt="..." />

        <h2>Nathan Hess DO</h2>
        <h4>Anesthesiologist</h4>
        <p>Vancouver, WA</p>
        <p><a class="btn btn-secondary" href="#hess">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br><br>



    <div style="width: 100%;">
      <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="180" height="180" src="{% static 'img/byron.jpeg' %}" alt="..." />

          <h2>Byron Edwards PA-C/Ph. D</h2>
          <h4>Dermatologist</h4>
          <p>Provo, UT</p>
          <p><a class="btn btn-secondary" href="#byron">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="180" height="180" src="{% static 'img/chad.jpeg' %}" alt="..." />

          <h2>Chad Edwards DO</h2>
          <h4>Orthopedic Surgeon</h4>
          <p>Elko, NV</p>
          <p><a class="btn btn-secondary" href="#chad">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" id="ahlstrom">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Drug companies marketed the overtreatment of pain"<span class="text-muted"></span></h2>
        <br>
        <p class="lead">Partial solution: We could have more serious discipline for those who are overprescribing and more in-patient rehabilitation centers.</p>
      </div>
      <div class="col-md-5"style="padding-left: 100px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/ahlstrom.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">
    <div class="row featurette" id="melissa">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">"The situation is much better now"<span class="text-muted"></span></h2>
        <br>
        <p class="lead">There are more rules and regulations. Some pain management clinics avoid opioids all together.</p>
      </div>
      <div class="col-md-5 order-md-1" style="padding-left: 100px;">
        {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/melissa1.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">
    <div class="row featurette" id ="hess">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Overprescription is becoming less of an issue.<span class="text-muted"> Prescribers are hyper aware"</span></h2>
        <p class="lead">It appears that the illegal manufacturing and sale of street-drug opioids like fentanyl is a bigger issue.</p>
      </div>
      <div class="col-md-5" style="padding-left: 100px; padding-top: 70px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/hess.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider" id="byron">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">"People who are struggling with other things in life are more likely to get addicted to opioids;<span class="text-muted"> it gives them a way to deal with life"</span></h3>
        <p class="lead">
            It’s helping them with everything else and not just the physical pain.</p>
      </div>
      <div class="col-md-5 order-md-1" style="padding-left: 100px; padding-top: 70px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/byron1.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">

    <div class="row featurette" id="chad">
      <div class="col-md-7">
        <h2 class="featurette-heading">"Doctors shouldn't really be giving out opioid prescriptions<span class="text-muted"> unless they're pain management certified"</span></h2>
        <p class="lead">Opioid addictions are a self-progating cycle, like the chicken and the egg. People are addicted because they're in pain, but they might be pain because they're addicted.</p>
      </div>
      <div class="col-md-5" style="padding-left: 100px; padding-top: 70px;">
        {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/chad2.jpg' %}" alt="..." />
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  {% endblock %}

  
