{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  main {
    background-color: #fff;
  }
</style>



<main>




  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <p style="text-align: center; font-size: 50px;"><b>Meet our Consulting Doctors!</b></p>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="180" src="{% static 'img/ahlstrom.jpeg' %}" alt="..." />

        <h2>Shane Ahlstrom MD</h2>
        <h4>Anesthesiologist</h4>
        <p>Medford, OR</p>
        <p><a class="btn btn-secondary" href="#ahlstrom">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="180" src="{% static 'img/melissa.jpeg' %}" alt="..." />

        <h2>Melissa Wroblewski NP-C</h2>
        <h4>Nurse Practitioner</h4>
        <p>Provo, UT</p>
        <p><a class="btn btn-secondary" href="#melissa">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="180" src="{% static 'img/hess.jpg' %}" alt="..." />

        <h2>Nathan Hess DO</h2>
        <h4>Anesthesiologist</h4>
        <p>Vancouver, WA</p>
        <p><a class="btn btn-secondary" href="#hess">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br><br>



    <div style="width: 100%;">
      <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="140" height="180" src="{% static 'img/byron.jpeg' %}" alt="..." />

          <h2>Byron Edwards PA-C/Ph. D</h2>
          <h4>Dermatologist</h4>
          <p>Provo, UT</p>
          <p><a class="btn btn-secondary" href="#byron">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="140" height="180" src="{% static 'img/chad.jpeg' %}" alt="..." />

          <h2>Chad Edwards DO</h2>
          <h4>Orthopedic Surgeon</h4>
          <p>Elko, NV</p>
          <p><a class="btn btn-secondary" href="#chad">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" id="ahlstrom">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5"style="padding-left: 100px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/ahlstrom.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">
    <div class="row featurette" id="melissa">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1" style="padding-left: 100px;">
        {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/melissa1.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">
    <div class="row featurette" id ="hess">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5" style="padding-left: 100px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/hess.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider" id="byron">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1" style="padding-left: 100px;">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/byron1.jpg' %}" alt="..." />
      </div>
    </div>
    <br>
    <hr class="featurette-divider">

    <div class="row featurette" id="chad">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5" style="padding-left: 100px;">
        {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
        <img class="featurette-image img-fluid mx-auto" width="300" height="300" src="{% static 'img/chad2.jpg' %}" alt="..." />
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  {% endblock %}

  
