{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <table class="table table-sm table-dark">
        <tr>
            <th>Drug Name</th>
            <th>Is Opioid?</th>
            <th>Info</th>
        </tr>
        {% for counter in drugs %}
        <tr>
            <td>{{counter.drugname}}</td>
            {% if counter.isopioid %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
            
            <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'viewDrug' drug_id=counter.id %}">View Info</a></td>

        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}