<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Prescriber</title>
</head>
    <h4>{{prescribers.fname}} {{prescribers.lname}}</h4>
<body>
    <fieldset style="width:0px;">
    <legend>Prescriber Info</legend>
        <label for="fname">First Name</label>
        <input type="text" id="fname" maxlength="30" value = {{prescribers.fname}}>
        <br><br>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" maxlength="30" value = {{prescribers.lname}}>
        <br><br>

        <fieldset style="width:80px;">
        <legend>Gender</legend>
            <label for="male">Male</label>
            <input type="radio" id="male" value="male" name="gender" {% if prescribers.gender == "M" %} checked {% endif%}>
            <label for="female">Female</label>
            <input type="radio" id="female" value="female" name="gender" {% if prescribers.gender == "F" %} checked {% endif%}>
        </fieldset>
        <br><br>

        <label for="state" title="Enter as state abbreviation. i.e CA">Location</label>
        <input type="text" id="state" title="Enter as state abbreviation. i.e CA" maxlength="2" style="width:30px;" value={{prescribers.state}}>
        <br><br>

        <label for="opioidprescriber">Is Opiod Prescriber</label>
        <input type="checkbox" id="opioidprescriber" name="opioidprescriber" {% if prescribers.isopioidprescriber == True %} checked {% endif %}>
        <br><br>

        <label for="credential">Credentials</label>
        <input type="text" id="credential" maxlength="30" value={{prescribers.credential}}>
        <br><br>

        <label for="specialty">Specialty</label>
        <input type="text" id="specialty" maxlength="255" required value={{prescribers.specialty}}>
        <br><br>
    </fieldset>
    <br>
    <button type="submit">Update</button>
</body>
</html>