{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form method="post" name="form" action="{% url 'deletePrescriber'%}">
        {% csrf_token %}
        <input type="hidden" value= {{prescribers.id}} name="prescribers_id">
        <div style="position: absolute; right: 30; margin-left: 70px;" >
        <button onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-primary" type="submit">Delete Prescriber</button>
        </div>
    </form>
    <h1 style="text-align: center; color: white; padding-top: 15px;">{{prescribers.fname}} {{prescribers.lname}}'s Information </h1>
    <br>
    <div class="custom-form">
        <form method="post" name="form" action="{% url 'updatePrescriber'%}">
            {% csrf_token %}
            
            <div class="form-group">
                <fieldset>
                <!-- <legend style="font-size:32px;">Prescriber Info</legend> -->
                    <input type="hidden" value= {{prescribers.id}} name="prescribers_id">

                    <label style="font-size: 18px;" for="fname">First Name</label>
                    <input name="fname" class="form-control" type="text" id="fname" maxlength="30" value = {{prescribers.fname}}>
                    <br>

                    <label style="font-size: 18px;" for="lname">Last Name</label>
                    <input name="lname" class="form-control" type="text" id="lname" maxlength="30" value = {{prescribers.lname}}>
                    <br>

                    <fieldset style="width:80px;">
                    <legend style="font-size:18px;">Gender</legend>
                        <label class="custom-control-label" for="male">Male</label>
                        <input class="form-check-input" type="radio" id="male" value="M" name="gender" {% if prescribers.gender == "M" %} checked {% endif%}>
                        <label class="custom-control-label" for="female">Female</label>
                        <input class="form-check-input" type="radio" id="female" value="F" name="gender" {% if prescribers.gender == "F" %} checked {% endif%}>
                    </fieldset>
                    <br>

                    <label style="font-size: 18px;" for="state" title="Enter as state abbreviation. i.e CA">Location</label>
                    <select class="form-select" name="state" id="state">
                        {% for counter in states %}
                        <option {% if counter.id == prescribers.state.id %} selected {% endif%} value={{counter.id}}>{{counter.state}}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label class="form-check-label" for="opioidprescriber">Are they an opioid prescriber?</label>
                    <input name="opioidprescriber" class="form-check-input" type="checkbox" id="opioidprescriber" name="opioidprescriber" {% if prescribers.isopioidprescriber == True %} checked {% endif %}>
                    <br><br>

                    {% comment %} <label style="font-size: 18px;" for="credential">Credentials</label>
                    <input name="credential" class="form-control" type="text" id="credential" maxlength="30" value={{prescribers.credential}}>
                    <br> {% endcomment %}
                    <select class="form-select" required="True" name="credential" id="credential">
                        {% for counter in credentials %}
                        <option value={{counter.id}}>{{counter.credential}}</option>
                        {% endfor %}
                    </select>
                    <label style="font-size: 18px;" for="specialty">Specialty</label>
                    <select class="form-select" name="specialty" id="specialty">
                        {% for counter in specialties %}
                        <option {% if counter.id == prescribers.specialty.id %} selected {% endif%} value={{counter.id}}>{{counter.specialty}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                </fieldset>
                <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}