{% extends 'base.html' %}
{% load static %}
{% block content %}
<div
    class=" text-center bg-image"
    <img src=""style="background-image: url('{% static 'img/GrandTetons.jpg' %}'); height: 700px;"></img>
    
    <div style=" height:100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="font-size: 50px">Predictor Result:</h1>
                <br>
                
                <h4 class="mb-3">{{ fname }} {{ lname}} will write about {{prediction}} prescriptions based on our Azure Machine Learning module.</h4>
                <h6 class="mb-3"></h6>
            </div>
        </div>
    </div>
</div>
<br>

<h1 style="text-align: center; color: white;"><b> <b></h1>
<div style="margin-left 50px; margin-right: 50px; color: white;" >
    <h2 style=style="margin-left 50px; margin-right: 50px; color: white;" >
        
    </h2>
</div>
{% endblock %}