{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-left: 50px; margin-top:50px; margin-bottom:10px;">
  <td><a class="center; btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'createPrescriber' %} " >Add Prescriber</a>
</div>
<br>
<div style="margin-left: 100px; margin-right: 100px;" class="text-center">
  <form name="form" method="post" action="{% url 'search' %}">
      {% csrf_token %}
          <div class="input-group">
          <label for="searchValue" hidden></label>
          <input name="searchValue" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-lg btn-primary">search</button>
      </div>

      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="prescribers" name="optradio" checked>Prescribers
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="drugs" name="optradio">All Drugs
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="opioids" name="optradio">Opioids Only
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="gender" name="optradio">Gender (m or f)
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="credential" name="optradio">Credentials
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="location" name="optradio">State e.g. (UT)
      </label>
      <label class="radio-inline radiobuttonsindex">
          <input type="radio" value="specialty" name="optradio">Specialty
      </label>     
  </form>
</div>
<br><br>
<table class="table table-sm table-dark">
    <tr>
        <th style="text-align: left;">Edit/Delete</th>
        <th style="text-align: left;">Last Name</th>
        <th style="text-align: left;">First Name</th>
        <th style="text-align: left;">Gender</th>
        <th style="text-align: left;">Credentials</th>
        <th style="text-align: left;">Is Opiod Prescriber</th>
        <th style="text-align: left;">Location</th>
        <th style="text-align: left;">Specialty</th>
        <th style="text-align: left;">Info</th>

    </tr>
    {% for counter in prescribers %}
    <tr>
        <td hidden>{{counter.id}}</td>
        <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'editPrescriber' prescriber_id=counter.id %}">Edit</a></td>
        <td>{{counter.fname}}</td>
        <td>{{counter.lname}}</td>
        <td>{{counter.gender}}</td>
        <td>{{counter.credential}}</td>
        {% if counter.isopioidprescriber %}
            <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
        <td>{{counter.state}}</td>
        <td>{{counter.specialty}}</td>
        <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'prescriberInfo' prescriber_id=counter.id %}">Prescriber Info</a>

    </tr>
    {%endfor%}
</table>

{% if prescribers.has_other_pages %}
  <ul class="pagination">
    {% if prescribers.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ prescribers.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% if prescribers.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ prescribers.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul> 
{% endif %}
{% endblock %}