{% extends 'base.html' %}
{% load static %}
{% block content %}
   <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Credentials</th>
            <th>Location</th>
            <th>Specialty</th>
        </tr>
        <tr>
            <td hidden>{{prescribers.id}}</td>
            <td>{{prescribers.fname}}</td>
            <td>{{prescribers.lname}}</td>
            <td>{{prescribers.gender}}</td>
            <td>{{prescribers.credentials}}</td>
            <td>{{prescribers.state}}</td>
            <td>{{prescribers.specialty}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Drug Name</th>
            <th>Quantity Prescribed</th>
            <th>Average Quantity</th>
        </tr>
        {% for pd in prescriber_drug %}
        <tr>
            <td>{{pd.drug.drugname}}</td>
            <td>{{pd.quantity}}</td>
            <td>{{pd.drug.avg}}</td>
        {%endfor%}
    </table>
{% endblock %}
