{% extends 'base.html' %}
{% load static %}
{% block content %}
<table class="table table-sm table-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Credentials</th>
        <th>Is Opiod Prescriber</th>
        <th>Location</th>
        <th>Specialty</th>
        <th>Info</th>
    </tr>
    {% for counter in prescribers %}
    <tr>
        <td hidden>{{counter.id}}</td>
        <td>{{counter.fname}}</td>
        <td>{{counter.lname}}</td>
        <td>{{counter.gender}}</td>
        <td>{{counter.credential}}</td>
        {% if counter.isopioidprescriber %}
            <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
        <td>{{counter.state}}</td>
        <td>{{counter.specialty}}</td>
        <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'prescriberInfo' prescriber_id=counter.id %}">Prescriber Info</a>
        <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'editPrescriber' prescriber_id=counter.id %}">Edit</a>
    </tr>
    {%endfor%}
</table>

{% if prescribers.has_other_pages %}
  <ul class="pagination">
    {% if prescribers.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ prescribers.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% if prescribers.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ prescribers.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul> 
{% endif %}
{% endblock %}