<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Credentials</th>
        <th>Location</th>
        <th>Specialty</th>
        <th>Info</th>
    </tr>
    {% for counter in prescribers %}
    <tr>
        <td hidden>{{counter.id}}</td>
        <td>{{counter.fname}}</td>
        <td>{{counter.lname}}</td>
        <td>{{counter.gender}}</td>
        <td>{{counter.credentials}}</td>
        {% comment %} <td>{{counter.state}}</td>
        <td>{{counter.specialty}}</td> {% endcomment %}
        <td><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'prescriberInfo' %}">Prescriber Info</a> 
    </tr>
    {%endfor%}
</table>