{% extends 'base.html' %}
{% load static %}
{% block content %}
<div
    class=" text-center bg-image"
    <img src=""style="background-image: url('{% static 'img/patagonia.jpg' %}'); height: 400px;"></img>
    
    <div style=" height:100%;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="font-size: 50px">More Information</h1>
                <br>
                <h6 class="mb-3"></h6>
            </div>
        </div>
    </div>
</div>
<br>

<h2 style="text-align: center; color: white;"><b>Bad News and Good News</b></h2>
    <div style="margin-left: 80px; margin-right: 80px; position: relative;">
        <div class='tableauPlaceholder' id='viz1638578338494' style='position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;'>
            <noscript><a href='#'>
                <img alt='Predicted Opioid Deaths Through 2024 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PredictedOpioidDeathsThrough2024&#47;PredictedDeaths&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='PredictedOpioidDeathsThrough2024&#47;PredictedDeaths' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PredictedOpioidDeathsThrough2024&#47;PredictedDeaths&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object>
        </div>                
        <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1638578338494');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            vizElement.style.width='100%';vizElement.style.height='400px';                    
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        <br><br>
        <p style="color: white;">This graph shows our predicted amount of deaths due to opioids through 2024. Using data from the last 15 years from the <a href="#sources" style="color: white;">CDC</a><sup>1</sup>, we have predicted that Opioid related deaths will increase in  the next three years if measures are not taken to change the current status quo.</p>
        <p style="color: white;"> 
            One good sign is that the amount of opioids being prescribed have fallen harshly in the last decade, meaning that the medical field is becoming increasingly more responsible
            with prescribing opioids. However, deaths are still increasing, likely due to the fact that many street drugs are opioids and certain street drugs like fentanyl are becoming
            more common. 
        </p>
        <hr style="border-top: 3px solid white;">
        <br><br>
        <h2 style="text-align: center; color: white;"><b>Street Drugs Abound</b></h2>
        <div class='tableauPlaceholder' id='viz1638648621977' style='position: relative'>
            <noscript><a href='#'><img alt='Percent Change in Fentanyl Use from 2018 to 2019 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;76&#47;76BXD6WG6&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                <param name='path' value='shared&#47;76BXD6WG6' /> 
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;76&#47;76BXD6WG6&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' /><param name='language' value='en-US' />
                <param name='filter' value='publish=yes' /></object></div>                
                <script type='text/javascript'>                    
                    var divElement = document.getElementById('viz1638648621977');                    
                    var vizElement = divElement.getElementsByTagName('object')[0];                    
                    vizElement.style.width='100%';vizElement.style.height='400px';                    
                    var scriptElement = document.createElement('script');                    
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
        <br>
        <p style="color: white;">
            Fentanyl is an opioid that is 10,000 times more potent than morphine. Up until the last decade it was mostly only ever seen in hospitals. Recently, fentanyl has
            been manufactured and sold illegally, making it the leading cause of death among all opioids, and being responsible for 73% of opioid related deaths. Fentanyl use is 11 times higher than it was in 2006.<sup>2</sup></p>
        <p style="color: white;"> 
             The above graph shows that fentanyl use has increased drastically all across the United States from 2018 - 2019. 
        </p>
        <p style="color: white;"> 
            According to the CDC, the source of this fentanyl is <a href="#sources" style="color: white;">"more likely to be illicitly manufactured than pharmaceutical"</a>.<sup>3,4,5</sup> This further proves that the medical field is becoming more responsible and causing less opioid deaths,
            while illegal drug trade is increasing opioid deaths at an alarming rate.
       </p>
       <br>
       <hr style="border-top: 3px solid white;">
        <h2 style="text-align: center; color: white;"><b>Worrisome Proportions</b></h2>
        <div class='tableauPlaceholder' id='viz1638578805206' style='position: relative' ><noscript>
            <a href='#'><img alt='Percent Deaths Map ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2H&#47;2HKYT8JQB&#47;1_rss.png' style='border: none' /></a>
        </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;2HKYT8JQB' /> <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2H&#47;2HKYT8JQB&#47;1.png' /> 
            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' />
            <param name='filter' value='publish=yes' /></object>
        </div>                
        <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1638578805206');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            vizElement.style.width='100%';vizElement.style.height='400px';                    
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
        <br><br>
        <p style="color: white;">
            For all of the accidental deaths in each state, the above graph shows which percent of accidental deaths were caused by opioids <a href="#sources" style="color: white;">(CDC)</a><sup>1</sup>. Utah attributes the highest
            percent of their accidental deaths to opioids compared to all other states.
        </p>
        <p style="color: white;"> 
            Despite having smaller populations, some states have a disproportionately higher percent of their citizens dying from opioids.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr>
        <p id="sources" style="color: white;">Sources:</p>
        <a href="https://wonder.cdc.gov/ucd-icd10.html" target="_blank" style="color: lightblue; font-size: 10px">1. Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death 1999-2019 on CDC WONDER Online Database, released in 2020. Data are from the Multiple Cause of Death Files, 1999-2019, as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed at http://wonder.cdc.gov/ucd-icd10.html on Dec 3, 2021 4:25:45 PM</a>
        <br>
        <a href="https://www.cdc.gov/mmwr/volumes/70/wr/mm7006a4.htm?s_cid=mm7006a4_w" target="_blank" style="color: lightblue; font-size: 10px">2. Mattson CL, Tanz LJ, Quinn K, Kariisa M, Patel P, Davis NL. Trends and Geographic Patterns in Drug and Synthetic Opioid Overdose Deaths — United States, 2013–2019. MMWR Morb Mortal Wkly Rep 2021;70:202–207.</a>
        <br>
        <a href="https://www.cdc.gov/mmwr/volumes/65/wr/mm6533a2.htm" target="_blank" style="color: lightblue;font-size: 10px" >3. Gladden RM, Martinez P, Seth P. Fentanyl law enforcement submissions and increases in synthetic opioid-Involved overdose deaths – 27 states, 2013-2014. Morb Mortal Wkly Rep. 2016;65(33):837-43.</a>
        <br>
        <a href="https://www.cdc.gov/mmwr/volumes/65/wr/mm6533a3.htm" target="_blank" style="color: lightblue;font-size: 10px">4. Peterson AB, Gladden RM, Delcher C, Spies E, Garcia-Williams A, Wang Y, et al. Increases in fentanyl-related overdose deaths – Florida and Ohio, 2013-2015. Morb Mortal Wkly Rep. 2016;65(33):844-9.</a>
        <br>
        <a href="https://www.cdc.gov/mmwr/volumes/66/wr/mm6634a2.htm" target="_blank" style="color: lightblue;font-size: 10px">5. O’Donnell JK, Gladden RM, Seth P. Trends in Deaths Involving Heroin and Synthetic Opioids Excluding Methadone, and Law Enforcement Drug Product Reports, by Census Region — United States, 2006–2015. MMWR Morb Mortal Wkly Rep 2017;66:897–903.</a>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

{% endblock %}